.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.coffee {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  padding: 20px;
}
